apiVersion: v1
kind: Service
metadata:
  name: rollouts-yellow
  labels:
    color: yellow
spec:
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    color: yellow